.hero {
  min-height: 92vh;
  background-color: #141518;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.heading {
  color: white;
  font-size: 40px;
  margin-left: 80px;
}

.disc {
  font-size: 25px;
  margin-top: 23px;
  margin-left: 30px;
  font-weight: 200;
  color: whitesmoke;
}

.btn_db {
  margin-left: 180px;
  margin-top: 20px;
  height: 35px;
  border: none;
  background-color: #37061d;
  width: 95px;
  margin-right: 20px;
  border-radius: 110px;
}

.btn_db:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.hero_1 {
  width: 550px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_2 {
  width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cam {
  width: 500px;
  background-color: #37061d;
  height: 282px;
  border-radius: 30px;
}

.cam video {
  height: 100%;
  width: 500px;
  border-radius: 30px;
}

.cam_btn {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}

.btn_round a{
    font-size: 20px;
    color: black;
    font-weight: 900;
}

.details{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    height: 100vh;
}
.url{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btnurl{
    margin-right: 20px;
    width: 90px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    background-color: #37061d;
}

.url input{
    width: 50%;
    border: 2px solid gray;
}

@media only screen and (max-width: 500px) {
  .hero_1 {
    height: 50vh;
  }
  .hero_2 {
    height: 50vh;
    margin-top: -160px;
  }

  .heading {
    font-size: 30px;
    margin-top: -70px;
  }
  .disc {
    font-size: 15px;
  }
  .cam_btn {
    margin-top: 10px;
  }
  .cam {
    width: 400px;
    background-color: #37061d;
    height: 226px;
    border-radius: 30px;
  }
  
  .cam video {
    height: 100%;
    width: 100%;
    border-radius: 30px;
  }

  .details{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
}
